.section-offer__list, .section-team__list, .describe-box__list, .section-customers__list, .address-container__auth, .social-container__list, .section-portfolio__menu, .card-set, .mobile-menu, .mobile-auth, .mobile-social {
  list-style: none;
  padding: 0;
  margin: 0;
}

.page-header__logo, .describe-box__link, .section-customers__linkCustomer, .page-footer__logo, .address-container__link, .social-container__link, .card-set__link, .mobile-menu__link, .mobile-auth__tel, .mobile-auth__mailto, .mobile-social__link {
  text-decoration: none;
}

.page-header__logo, .page-footer__logo {
  color: #000000;
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.section__icon-antena::before, .section__icon-clock::before, .section__icon-diagram::before, .section__icon-astronaut::before {
  display: block;
  content: "";
  margin-bottom: 30px;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F5F4FA;
}

.main-form__label, .main-form__input, .main-form__textarea, .main-form-icon, .main-form__text {
  cursor: pointer;
  outline: none;
  -webkit-transition-property: border-color, color;
  transition-property: border-color, color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.main-form__field:nth-child(-n + 3) .main-form__input, .main-form__textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.section__title--hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.product-meta__name, .product-meta__view {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-color: #FFFFFF;
  color: #757575;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  cursor: default;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  border: none;
}

textarea {
  resize: none;
}

input {
  margin: 0;
  padding: 0;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
  color: #212121;
}

.section-offer__subtitle,
.describe-box__employee {
  color: #212121;
}

.icon-social {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.button {
  background-color: #188CE8;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  min-width: 200px;
  min-height: 50px;
  padding: 10px 0 10px;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:focus, .button:hover {
  background-color: #2196F3;
}

@media (max-width: 767px) {
  .mobile-box {
    display: none;
  }
}

.page-header {
  border-bottom: 1px solid #ECECEC;
}

.page-header__nav,
.page-header__item {
  display: inherit;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
}

.logo__first-part {
  color: #2196F3;
}

.page-header__nav {
  min-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-hero {
  max-width: 480px;
  height: 400px;
  margin-right: auto;
  margin-left: auto;
  background-color: #2F303A;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/Background-img/hero-bgi-mobile.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Background-img/hero-bgi-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
}

.section-hero__title {
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  color: #FFFFFF;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.data-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.data-modal--hidden {
  opacity: 0;
  pointer-events: none;
}

.data-modal__window {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition-property: scale, -webkit-transform;
  transition-property: scale, -webkit-transform;
  transition-property: transform, scale;
  transition-property: transform, scale, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
  width: 450px;
  height: 609px;
  background-color: #FFFFFF;
}

.data-modal--hidden .data-modal__window {
  -webkit-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
}

.data-modal__closing {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #E6E6E6;
  background-color: #FFFFFF;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.data-modal__closing:hover, .data-modal__closing:focus {
  color: #2196F3;
}

.data-modal__icon {
  width: 18px;
  height: 18px;
  fill: currentColor;
}

.data-modal__title {
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 12px;
  color: #212121;
}

.main-form {
  width: 100% -80px;
  margin-left: auto;
  margin-right: auto;
}

.main-form__field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-form__field:nth-child(-n + 3) {
  margin-bottom: 10px;
}

.main-form__field:nth-child(4) {
  margin-bottom: 20px;
}

.main-form__field:nth-child(-n + 4) {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: start;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.main-form__field:nth-child(5) {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.main-form__field:nth-child(-n + 4) .main-form__label {
  margin-bottom: 4px;
}

.main-form__field:nth-child(-n + 3) .main-form__input {
  padding: 11px 12px;
  padding-left: 42px;
}

.main-form__textarea {
  padding: 12px 16px;
}

.main-form__textarea::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.main-form__textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.main-form__textarea::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.main-form__textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.main-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  width: 18px;
  height: 18px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-form__field:hover .main-form__input,
.main-form__field:focus .main-form__input,
.main-form__field:hover .main-form-icon,
.main-form__field:focus .main-form-icon,
.main-form__field:hover .main-form__textarea,
.main-form__field:focus .main-form__textarea {
  border-color: #2196F3;
  fill: #2196F3;
}

/* Checkbox styles */
.main-form__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-form__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.main-form__tick {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid #212121;
  border-radius: 2px;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-form__checkbox:checked + .main-form__tick {
  background-color: #2196F3;
  background-image: url("../images/Forms-icons/check.svg");
  background-size: contain;
  background-origin: border-box;
  border-color: #2196F3;
}

.main-form__link {
  color: #2196F3;
  margin-left: 3px;
}

.section-offer__subtitle {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.section-offer__item:not(:last-child) {
  margin-bottom: 30px;
}

.section-offer__text {
  font-size: 14px;
  line-height: 1.71;
}

.section__icon-antena::before {
  background-image: url(../images/Background-img/backgrounds-wwo-section/antenna.svg);
}

.section__icon-clock::before {
  background-image: url(../images/Background-img/backgrounds-wwo-section/clock.svg);
}

.section__icon-diagram::before {
  background-image: url(../images/Background-img/backgrounds-wwo-section/diagram.svg);
}

.section__icon-astronaut::before {
  background-image: url(../images/Background-img/backgrounds-wwo-section/astronaut.svg);
}

@media screen and (max-width: 1200px) {
  .section-wwd {
    display: none;
  }
}

.section-team {
  background-color: #F5F4FA;
}

.describe-box__employee {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.describe-box__profession {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.section-team__item {
  border-radius: 0px 0px 4px 4px;
  max-width: 450px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.section-team__item:not(:last-child) {
  margin-bottom: 30px;
}

.describe-box {
  padding: 30px;
}

.describe-box__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.describe-box__item:not(:last-child) {
  margin-right: 10px;
}

.describe-box__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #AFB1B8;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.describe-box__link:hover, .describe-box__link:focus {
  background-color: #2196F3;
  color: #FFFFFF;
}

.section-customers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -5%;
  margin-left: -5%;
}

.section-customers__item {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  margin-left: 5%;
  margin-top: 5%;
}

.section-customers__linkCustomer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 210px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  color: #AFB1B8;
  -webkit-transition-property: border-color, color;
  transition-property: border-color, color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.section-customers__linkCustomer:hover, .section-customers__linkCustomer:focus {
  border-color: #2196F3;
  color: #2196F3;
}

.section-customers__logo {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
}

.page-footer__container {
  text-align: center;
}

.page-footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  color: #FFFFFF;
}

.address-container__address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 60px;
}

.address-container__text {
  color: #FFFFFF;
}

.address-container__text,
.address-container__item:not(:last-child) {
  margin-bottom: 9px;
}

.address-container__link {
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-container__link:hover, .address-container__link:focus {
  background-color: #757575;
  color: #F5F4FA;
}

.appeal {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
}

.social-container {
  margin-bottom: 60px;
}

.social-container__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-container__item:not(:last-child) {
  margin-right: 10px;
}

.social-container__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #FFFFFF;
  background-color: #44454E;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-container__link:hover, .social-container__link:focus {
  background-color: #2196F3;
}

.page-footer__input {
  height: 50px;
  width: 100%;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  margin-bottom: 20px;
}

.page-footer__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
  margin-left: auto;
}

.page-footer__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: currentColor;
}

.section-portfolio__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
}

.section-portfolio__item:not(:last-child) {
  margin-right: 8px;
}

.section-portfolio__item:not(:nth-child(n + 4)) {
  margin-bottom: 15px;
}

.section-portfolio__button {
  padding: 6px 22px;
  background-color: #F5F4FA;
  color: #212121;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  cursor: pointer;
  border-radius: 4px;
  -webkit-transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, box-shadow;
  transition-property: background-color, color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.section-portfolio__button--current, .section-portfolio__button:hover, .section-portfolio__button:focus {
  background-color: #2196F3;
  color: #FFFFFF;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.card-set__product {
  margin-left: auto;
  margin-right: auto;
}

.card-set__link {
  display: block;
  border: 1px solid transparent;
  -webkit-transition-property: border-color, -webkit-box-shadow;
  transition-property: border-color, -webkit-box-shadow;
  transition-property: border-color, box-shadow;
  transition-property: border-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.card-set__link:hover {
  border-color: #EEEEEE;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-block {
  position: relative;
  overflow: hidden;
}

.project-block__text {
  position: absolute;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: #2196F3E5;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: #FFFFFF;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.card-set__link:hover .project-block__text {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.product-meta {
  padding: 20px 24px;
  border-bottom: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
}

.product-meta__name {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.product-meta__name:focus, .product-meta__name:hover {
  background-color: #757575;
  color: #F5F4FA;
}

.product-meta__view {
  color: #757575;
  font-size: 16px;
  line-height: 1.88;
}

.product-meta__view:focus, .product-meta__view:hover {
  background-color: #757575;
  color: #F5F4FA;
}

.mobile-menu__icon {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  fill: currentColor;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

.menu-toggle:hover, .menu-toggle:focus {
  color: #2196F3;
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: #FFFFFF;
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.js-close-menu {
  position: absolute;
  top: 10px;
  right: 15px;
}

.mobile-menu {
  margin-bottom: 302px;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link {
  position: relative;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.8;
  letter-spacing: 0.02em;
  color: #212121;
}

.mobile-menu__link--current, .mobile-menu__link:hover, .mobile-menu__link:focus {
  color: #2196F3;
}

.mobile-menu__link--current::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #2196F3;
}

.mobile-auth {
  padding-bottom: 64px;
}

.mobile-auth__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-auth__tel {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.mobile-auth__mailto {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile-social__item:not(:last-child) {
  margin-right: 20px;
  position: relative;
}

.mobile-social__item:not(:last-child)::after {
  content: "";
  display: block;
  position: absolute;
  right: -10px;
  top: 0;
  width: 1px;
  height: 100%;
  border-radius: 2px;
  background: rgba(33, 33, 33, 0.2);
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.mobile-social__link {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196F3;
}
/*# sourceMappingURL=main.css.map */