.section-portfolio__menu {
    @extend %list;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    @media screen and (min-width: $tablet) {
        justify-content: center;
        margin-bottom: $main-margin;
    }
    @media screen and (min-width: $desktop) {
        margin-bottom: 50px;
    }
 }

.section-portfolio__item:not(:last-child) {
    margin-right: 8px;
}

.section-portfolio__item:not(:nth-child(n + 4)) {
    @media screen and (max-width: $tablet - 1px) {
       margin-bottom: 15px; 
    }
    margin-bottom: 15px;
}

.section-portfolio__button {
    padding: 6px 22px;
    
    background-color: $our-team-section-background-color;
    color: $title-text-color;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;

    cursor: pointer;
    border-radius: 4px;

    transition-property: background-color, color, box-shadow;
    transition-duration: $transition-duration;
    transition-timing-function: $transition-timing-function;
    
    &--current, &:hover, &:focus {
        background-color: $accent-color;
        color: $main-background-color;
        box-shadow: $portfolio-button-shadow;
    }
}

