.auth-menu {
    @extend %list;
    @media screen and (min-width: $desktop) {
        display: flex;
    }
}

.auth-menu__item:not(:last-child) {
    @media screen and (max-width: $desktop - 1px) {
        margin-bottom: 10px;
    }
    @media screen and (min-width: $desktop) {
        margin-right: $main-margin;
    }
    
}

.auth-menu__link {
    @extend %link;

    color: $primary-text-color;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;

    display: flex;
    align-items: center;

    transition-property: color;
    transition-duration: $transition-duration;
    transition-timing-function: $transition-timing-function;

    &:hover, &:focus{
        color: $accent-color;
    }
    @media screen and (min-width: $desktop) {
        font-size: 14px;
        line-height: 16px;        
    }
}

.auth-menu__envelope {
    @extend %auth-menu__icon;
    @media screen and (min-width: $desktop) {
        width: 16px;
        height: 12px;
    }

}

.auth-menu__phone {
    @extend %auth-menu__icon;
    @media screen and (min-width: $desktop) {
        height: 16px;
    }

}