@media (max-width: $tablet - 1px) {
  .mobile-box {
    display: none;
  }
}

.page-header {
    border-bottom: 1px solid $header-border;
}

.page-header__nav,
.page-header__item {
    display: inherit;
    align-items: inherit;
}

.page-header__logo {
    @extend %logo, %link;
    margin-right: 88px;
}

@media screen and (min-width: $desktop) {
      .page-header__logo {
        font-size: 26px;
        line-height: 1.19;
        margin-right: 93px;
      }
    }

.logo__first-part {
    color: $accent-color;
}

.page-header__container {
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}