@media (max-width: $tablet - 1px) {
  .mobile-box {
    display: none;
  }
}

.page-header {
    border-bottom: 1px solid $header-border;
}

.page-header__nav,
.page-header__item {
    display: inherit;
    align-items: inherit;
}

.page-header__logo {
    @extend %logo, %link;
    margin-right: 88px;
    @media screen and (min-width: $tablet) {
      font-size: 24px;
      line-height: 1.16;
    }
}

.logo__first-part {
    color: $accent-color;
}

@media screen and (min-width: $tablet) {
  .page-header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-header__nav {
    margin-right: 84px;
  }
}