.section__title--hidden {
    @extend %visually-hidden;
}

.section-offer__subtitle {
    margin-bottom: 10px;

    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.section-offer__list {
    @extend %list;
    @media screen and (min-width: $tablet) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: -1 * $main-margin;
        margin-left: -1 * $main-margin;
    }
}

.section-offer__item:not(:last-child) {
    @media screen and (max-width: $tablet - 1px) {
    margin-bottom: $main-margin;
    }
}

.section-offer__item {
    @media screen and (min-width: $tablet) {
        flex-basis: calc(100% / 2 - 30px);
        margin-left: $main-margin;
        margin-top: $main-margin;
    }
    @media screen and (min-width: $desktop) {
        flex-basis: calc(100% / 4 - 30px);
    }
}

.section-offer__text {
    font-size: 14px;
    line-height: 1.71;
}

.section__icon-antena::before {
    background-image: url(../images/Background-img/backgrounds-wwo-section/antenna.svg);
    @extend %section-offer__item::before;
}

.section__icon-clock::before {
    background-image: url(../images/Background-img/backgrounds-wwo-section/clock.svg);
    @extend %section-offer__item::before;
}

.section__icon-diagram::before {
    background-image: url(../images/Background-img/backgrounds-wwo-section/diagram.svg);
    @extend %section-offer__item::before;
}

.section__icon-astronaut::before {
    background-image: url(../images/Background-img/backgrounds-wwo-section/astronaut.svg);
    @extend %section-offer__item::before;
}

.section-offer {
    @media screen and (min-width: $desktop) {
        padding-bottom: 0;
    }
}