.section__title--hidden {
    @extend %visually-hidden;
}

.section-offer__subtitle {
    margin-bottom: 10px;

    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.section-offer__list {
    @extend %list;
}

.section-offer__item:not(:last-child) {
    margin-bottom: 30px;
}

.section-offer__text{
    font-size: 14px;
    line-height: 1.71;
}

.section__icon-antena::before {
    background-image: url(../images/Background-img/backgrounds-wwo-section/antenna.svg);
    @extend %section-offer__item::before;
}

.section__icon-clock::before {
    background-image: url(../images/Background-img/backgrounds-wwo-section/clock.svg);
    @extend %section-offer__item::before;
}

.section__icon-diagram::before {
    background-image: url(../images/Background-img/backgrounds-wwo-section/diagram.svg);
    @extend %section-offer__item::before;
}

.section__icon-astronaut::before {
    background-image: url(../images/Background-img/backgrounds-wwo-section/astronaut.svg);
    @extend %section-offer__item::before;
}