.section-customers__list {
    @extend %list;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -1 * 5%;
    margin-left: -1 * 5%;
    @media screen and (min-width: $tablet) {
        margin-top: -1 * 4%;
        margin-left: -1 * 4%;  
    }
    @media screen and (min-width: $desktop) {
        margin-top: -1 * 2.5%;
        margin-left: -1 * 2.5%; 
        flex-wrap: nowrap;
    }
}

.section-customers__item {
    flex-basis: 100% / 2 - 5%;
    margin-left: 5%;
    margin-top: 5%;

    @media screen and (min-width: $tablet) {
        flex-basis: 100% / 3 - 4%;
        margin-left: 4%;
        margin-top: 4%;
    }
    @media screen and (min-width: $desktop) {
        flex-basis: 100% / 6 - 2.5%;
        margin-left: 2.5%;
        margin-top: 2.5%;
        width: 170px;
        height: 92px;
    }
    
}

.section-customers__linkCustomer {
    @extend %link;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 52px;
    border: 1px solid $main-icons-color;
    border-radius: 4px;
    
    color: $main-icons-color;
    
    transition-property: border-color, color;
    transition-duration: $transition-duration;
    transition-timing-function: $transition-timing-function;

    &:hover, &:focus {
        border-color: $accent-color;
        color: $accent-color;
    }
    @media screen and (min-width: $desktop) {
        padding-left: 32px;
        padding-right: 32px;
    }
}

.section-customers__logo {
    width: 106px;
    height: 60px;
    fill: currentColor;
}