%list {
    list-style: none;
    padding: 0;
    margin: 0;
}

%link{
    text-decoration: none;
}

%logo {
    color: $logo-color;
    font-family: $logo-font-family; 
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
}

%logo-mobile {
    color: $logo-color;
    font-family: $logo-font-family; 
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
}

%section-offer__item::before {
    display: block;
    content: "";
    margin-bottom: $main-margin;
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $our-team-section-background-color;
}

%main-form__styles {
    cursor: pointer;
    outline: none;

    transition-property: border-color, color;
    transition-duration: $transition-duration;
    transition-timing-function: $transition-timing-function;
}

%main-form__border {
    border: 1px solid $hero-input-border-color;
    box-sizing: border-box;
    border-radius: 4px;
}

%visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

%transition {
    transition-property: all;
    transition-duration: $transition-duration;
    transition-timing-function: $transition-timing-function;
}

%mobile-menu__icon {
    display: block;
    justify-content: center;
    width: 100%;
    height: 100%;
    fill: currentColor;
    
    &:hover, &:focus {
        color: $accent-color;
    }
}

%auth-menu__icon {
    margin-right: 8px;
    fill: currentColor;
}